/* акцент #2196F3 */
/* текст rgba(33, 33, 33, 1) */
/* параграфи та контакти в хедері rgba(117, 117, 117, 1) */
/* адресС АЛЕ НЕ КАРТА З АДРЕСОЮ БО АДРЕСА ПРОСТО БІЛА rgba(255, 255, 255, 0.6) */
/* другорядний колір фону #F5F4FA */


/* стилізація кнопок на сторінці портфоліо */

.button.primaru {
    background-color: #F5F4FA;
    color:var(--button-color);
    cursor: pointer;
}
.button.primaru:hover,
.button.primaru:active,
.button.primaru:focus {
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
}
/* кнопка "замовити послугу" */
.button.secondary{
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
}

/* стилізація хедера */
.logo{
    color: rgba(0, 0, 0, 1);
    
}
/* .logo:visited{
    color: (33, 33, 33, 1);
} */
.logo-link{
    color: rgba(33, 150, 243, 1);
}

.nav-contact .contact{
    color: rgba(117, 117, 117, 1);
}
.contact:hover,
.contact:focus {
    color: #2196F3;
}
/* стилізація блоку з головною навігацією на головній сторінці в хедері*/
.nav-links .link{
    color: rgba(33, 33, 33, 1);
}
.nav-links .link:hover, .link:focus{
    color: rgba(33, 150, 243, 1);
}
.nav-links .link.current{
    color: rgba(33, 150, 243, 1);

}


/* стилізація блоку герой */

.hero,
.footer {
    background-color: #2F303A;
}
.hero-title{
    color: rgba(255, 255, 255, 1);
}


.hero {
    text-align: center;
}
/* посилання в футері */
.map{
    color: #ffffff;
    
}
.map:hover, .map:focus{
    color: #2196F3;

}
.address-links .contact{
    color: rgba(255, 255, 255, 0.6);
}
.address-links .contact:hover, .contact:focus{
    color: #2196F3;
}

.footer-logo{
    color: #ffffff;
}
/* утіліта для видалення оформлення списку */
.list{
    list-style: none;
}
/* оформлення заголовків h2 */
.section-title{
    color:rgba(33, 33, 33, 1);
    /* text-align: center; */
}
.portfolio  a{
    color: var(--title-color);
}