/* акцент #2196F3 */
/* текст rgba(33, 33, 33, 1) */
/* параграфи та контакти в хедері rgba(117, 117, 117, 1) */
/* адресС АЛЕ НЕ КАРТА З АДРЕСОЮ БО АДРЕСА ПРОСТО БІЛА rgba(255, 255, 255, 0.6) */
/* другорядний колір фону #F5F4FA */

html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Решта коду */
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-color: rgba(33, 33, 33, 1);
  --accent-color: #2196f3;
  --button-color: var(--title-color);
  --button-background: #f5f4fa;
  --bgc-secondary: #f5f4fa;
  --common-bgc: #f5f5f5;
  --footer-hero-bgc: #2f303a;
}

body {
  color: rgba(33, 33, 33, 1);
  /* background-color: var(--common-bgc); */
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  /* font-size: 14; */
}

/* параграфи в файлі index.html */
p {
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* загальна стилізація кнопок */
.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--button-background);
  border: 4px solid  #f5f4fa;
  border: 1px solid transparent;
  
}
/* стилізація кнопок на сторінці портфоліо */

.button.primaru {
  font-family: inherit;
  background-color: var(--button-background);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  text-align: center;
  min-width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.primaru:hover,
.button.primaru:active,
.button.primaru:focus {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
}
/* кнопка "замовити послугу" */
.button.secondary {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
  line-height: 1.87;
  font-weight: 700;
  min-width: 216px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  border: 1px solid transparent;
  /* position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px; */
}

/* стилізація хедера */
.logo {
  color: rgba(0, 0, 0, 1);
}
/* .logo:visited{
    color: (33, 33, 33, 1);
} */
.logo-link {
  color: rgba(33, 150, 243, 1);
}
/* cстилізація всіх заголовків */
h1, h2, h3, h4, h5, h6{
  font-style: 400;
  margin: 0px;
}
.hero>h1{
  color: #fff;
  max-width: 696;
}




/* оформлення шрифра для лого в футурі та хедері */
.logo,
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;

  /* font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left; */
}

.nav-contacts .contact {
  display: inline-block;
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
/* стилізація блоку з головною навігацією на головній сторінці в хедері*/
.nav-links .link {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
}
.nav-links .link:hover,
.link:focus {
  color: rgba(33, 150, 243, 1);
}
.nav-links .link.current {
  color: rgba(33, 150, 243, 1);
}

/* стилізація блоку герой */


.hero-title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  /* line-height: 1.36px; */
  letter-spacing: 0.06em;
  text-align: center;
}

.hero {
  text-align: center;
  /* outline: 5px solid red; */
}
/* заголовки блоку "перваги" головної сторінки  */
.features-title {
  font-size: 14px;
  line-height: 1.14;

}
/* фон hero footer */
.hero,
.footer{
  background-color: var(--footer-hero-bgc)
}

address{
  font-style: normal;
}

/* посилання в футері */
.map {
  color: #ffffff;
}
.map:hover,
.map:focus {
  color: #2196f3;
}
.address-links .contact {
  color: rgba(255, 255, 255, 0.6);
}
.address-links .contact:hover,
.contact:focus {
  color: #2196f3;
}

.footer-logo {
  color: #ffffff;
}
/* утіліта для видалення оформлення списку */
.list {
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}
/* оформлення фону для секції team початкової сторінки */

.team.bgc {
  background-color: var(--bgc-secondary);

  
  /* HELP!!!!!!!! Я НЕ РОЗУМІЮ ЧОГО НЕ ПЕРЕЗАПИСУЄТЬСЯ КОЛІР ДЛЯ ЦІЄЇ СЕКЦІЇ, А НАСТЛІДУЄЬБСЯ З body. у тегу 
  .team.bgc специфічність 20, а body - 1 */

}

/* оформлення заголовків h2 */
.section-title {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  
  /* text-align: center; */
}
.portfolio a {
  color: var(--title-color);
}


/* утілітка для оформлення посиланнь */
.link {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* .ul .address-links{
    text-align: left;
} */
.hide {
  display: none;
}
/* редагування стилю тексту на сторінці портфоліо */
.portfolio-link {
  font-size: 18px;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio h2 {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
/* .footer-logo {
    margin-right: px;
} */


.section{
  /* outline: 2px solid red; */
  overflow: scroll;
}
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
